<style>
    .bar {
        width: 80%;
        margin: 0 auto;
        display: flex;
        display: flex;
        align-items: center;
    }

    h3 {
        font-family: var(--font-family);
        color: var(--text-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
    }

    input {
        width: 300px;
        border: 1px solid #CCC;
        height: 40px;
        margin-left: 30px;
        padding: 10px;
        box-sizing: border-box;
    }
    input:active {
        outline: 0;
        box-shadow: none;
    }
</style>
<section class="bar">
    <h3><span id="count"></span> Patienten</h3>
    <input id="search" type="search" placeholder="Search" autocomplete="off"/>
</section>
